html,body
{
height: 98.6%;    
}
body
{
    background: aliceblue !important;
}
header
{
height:10%
}
#header_top
{background: linear-gradient(45deg,violet,indigo,blue,green,yellow,orange,red);
    height:10%;
}
#header_title
{
background: linear-gradient(45deg,aliceblue,blueviolet,aliceblue);
height: 90%;
overflow: hidden;
}
main
{
height:85%;
overflow-y:auto;
}
footer
{
height:5%;
position: sticky;
background:linear-gradient(0deg,aliceblue,skyblue)
}

#Output_Section
{
display:none;
}
table,td
{
border: 1px solid black;
border-collapse: collapse;
}

.left_div,.right_div
{
    height: 100%;
}
.right_div
{overflow-y: scroll;
}
#copy_button
{
float: right;
}
#operation,#colour_picker1_text,#colour_picker2_text,#gradient_count,#colour_system
{
    width: 70%;
}
#colour_picker1,#colour_picker2
{
    width:50%
}
#operation,#colour_picker1_text,#colour_picker2_text,#gradient_count,#colour_system
{
text-align: center; 
}
@media screen and (min-width:872.1px)
{
    .left_div,.right_div{
        width: 28.33%;
        float: left;
        }
    .left_div{
        display: revert;
        }
    .main_div{   
        height: 100%;
        width: 43.33%;
        float: left;
        }    

}
@media screen and (max-width:872px)
{
    .main_div,.right_div{
        height: 50%;
        width: 100%;
        float:none;
        }
        .main_div{
        overflow:auto;
        }
        .right_div{

        }
    .left_div{
        display: none;
        }    
    #operation,#colour_picker1,#colour_picker1_text,#colour_picker2,#colour_picker2_text,#gradient_count,#colour_system{
        width: 80%;
        }
}
